<?xml version="1.0" encoding="utf-8"?>
<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10">
  <Identity
    Name="m3Coding.SimpleFolderCompare"
    Publisher="CN=AFF85DD5-3D92-42A5-BA39-3AF6D41B1837"
    Version="0.2.0.0" />
  <Properties>
    <DisplayName>Simple Folder Compare</DisplayName>
    <PublisherDisplayName>m3 Coding</PublisherDisplayName>
    <Logo>Store-Assets/StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26000.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="SimpleFolderCompare" Executable="SimpleFolderCompare.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Simple Folder Compare"
        Description="Simple Folder Compare"
        Square150x150Logo="Store-Assets/Square150x150Logo.png"
        Square44x44Logo="Store-Assets/Square44x44Logo.png"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Store-Assets/Wide310x150Logo.png" Square310x310Logo="Store-Assets/Square310x310Logo.png" />
        <uap:SplashScreen Image="Store-Assets/SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
